@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body{
    background-color: rgba(4,128,183,0.75);
    background-image: url("https://www.integrandosalud.com/es-ar/wp-content/uploads/sites/2/2022/10/feature-banner-1.png");
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h1{
    background-color: aqua;
    text-align: center;
}


.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 330px;
    width: 1000px;
    margin: auto;
    margin-top: 200px;
    
}


.card{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border-radius: 7%;
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 200%;
    transition: all 0.5s;
}

.card:hover{
    background-color: #51FF51;
    cursor: pointer;
    height: 330px;
    width: 330px;
    transition: all 0.5s;
}
.card label{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

button{
    height: 300px;
    width: 300px;
    border-radius: 7%;
}

@media screen and (max-width: 1050px) {
    .container{
        display:flex;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        height: 330px;
        width: 800px;
        margin-top: 200px;
    }

    .card{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        border-radius: 7%;
        height: 240px;
        width: 240px;
        background-color: aliceblue;
        cursor: pointer;
        font-size: 100%;
        transition: all 0.5s;
    }
    .card:hover{
        background-color: #51FF51;
        cursor: pointer;
        height: 260px;
        width: 260px;
        transition: all 0.5s;
    }
}

@media screen and (max-width: 800px) {
    .container{
        display:flex;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 650px;
        width: 330px;
    }

    .card{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        border-radius: 7%;
        height: 200px;
        width: 200px;
        background-color: aliceblue;
        cursor: pointer;
        font-size: 100%;
        transition: all 0.5s;
    }

    .card:hover{
        background-color: #51FF51;
        cursor: pointer;
        height: 210px;
        width: 210px;
        transition: all 0.5s;
    }
}